<div class="item-header">
       <div  class="main-middle-image" 
          style="background-image: 
          url({{packages.image}})">
            <span class="item-header-text">{{packages.destination}}</span>
        </div>

        <div class=" item-feature container">
          <div  class="item-feature-content">
              <span style="background-color: #{{packages.color}};" class="item-feature-icon ti-location-pin"></span>
            <div class="item-feature-text">
              <div class="item-feature-header">{{packages.continent}}</div>
              <div class="item-feature-sub">{{packages.comment}}</div>
            </div>
        </div>

        <div class="item-feature-content">
              <span style="background-color: #{{packages.color}};" class="item-feature-icon ti-location-pin"></span>
            <div class="item-feature-text">
              <div class="item-feature-header">{{packages.aim}}</div>
              <div class="item-feature-sub">Lorem ipsum dolor sit amet, consec dolor sit amet anis po.</div>
            </div>
        </div>

         <div style="background-color: #{{packages.color}};" class="item-feature-price">
                {{packages.price}} <span class="item-price-icon">$</span>
            </div>
        </div>
</div>

<div class="item-content">
  <div class="item-content-container container">
    <div class="item-content-main mt-8 m-10">
      <div class="item-content-detail">
        <div class="item-content-text">
             <span class="item-content-head">L</span>
              orem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttir arcu. Nulla ut justo quis augue commodo mattis nec vel ante orem commodo lectus at sollicitudin elemenum.
        </div>
    
<br>
        <div class="item-content-text">
          Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttir arcu. Nulla ut justo quis augue commodo mattis nec vel ante orem commodo lectus at sollicitudin elemenum.

        </div>
<br>

        <div class="item-content-text">
        Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis. Aenean convallis ac lorem et sodales. Sed dictum vel orci nec rhoncus. Donec quis porttir arcu. Nulla ut justo quis augue commodo mattis nec vel ante orem commodo lectus at sollicitudin elemenum.

        </div>
      </div>

      <div class="item-content-view">
        <div class="item-view-head">VIEW THE PHOTOS</div>
      </div>

      <div class="item-view-container">
        <div class="item-img-container">
          <img src="http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/parallax-1.jpg" alt="" class="item-img">
          <img src="http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/04/parallax-2.jpg" alt="" class="item-img">

        </div>

        <div class="item-view-choice ">
          <span class="item-choice-img view-active">
            TOUR GALLERY
          </span>
          <span class="item-choice-img">
            TOUR MAP
          </span>
        </div>
      </div>

      
      <div class="item-content-view">
       <div class="item-view-head">INCLUDED AND NOT</div>
      </div>

      <div class="item-include"> 
        <div class="item-include-service">
          <div class="item-include-content">ALL DRINKS INCLUDED</div>
          <span class="item-include-status active-option">YES</span>
        </div>
            
        <div class="item-include-service">
          <div class="item-include-content">LUNCH IN RESTAURANT</div>
          <span class="item-include-status active-option">YES</span>
        </div>

         <div class="item-include-service">
          <div class="item-include-content">ALL TICKETS MEUSEUM</div>
          <span class="item-include-status active-option">YES</span>
        </div>

        <div class="item-include-service">
          <div class="item-include-content">TYPICAL SOUVENIR</div>
          <span class="item-include-status not-active-option">NOT</span>
        </div>
      </div>

     <div class="item-content-view">
       <div class="item-view-head">PACKAGE DETAILS</div>
      </div>
  
      <div class="item-package-detail">
        <div class="item-package-container">
          <span class="item-package-icon js-item-icon">+</span>
          <div class="item-package-day">DAY 1 -</div>
          <div class="item-package-content"> Departure at the airport and arrival at the hotel</div>
        </div>
        <div class="item-package-text js-item-text">Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.</div>

        <div class="item-package-container">
          <span class="item-package-icon js-item-icon">+</span>
          <div class="item-package-day">DAY 2 -</div>
          <div class="item-package-content"> Visit the main museums and lunch included</div>
        </div>
        <div class="item-package-text js-item-text">Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.</div>

        <div class="item-package-container">
          <span class="item-package-icon js-item-icon">+</span>
          <div class="item-package-day">DAY 3 -</div>
          <div class="item-package-content"> Excursion in the natural oasis and picnic</div>
        </div>
        <div class="item-package-text js-item-text">Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.</div>

        <div class="item-package-container">
          <span class="item-package-icon js-item-icon">+</span>
          <div class="item-package-day">DAY 4 -</div>
          <div class="item-package-content"> Transfer to the airport and return to the agency</div>
        </div>
      </div>
      <div class="item-package-text js-item-text">Lorem commodo lectus at sollicitudin elementum. Sed dolor turpis, condimentum sit amet maximus sit amet, rhoncus non turpis.</div>


    </div>

    <div class="item-content-contact mt-4 m-9">
      <div class="item-contact-advice">
        <div class="item-contact-content">
          Ctus at sollicitudin elementum. Sed dolor turpis, 
          condimentum sit amet maximus sit amet, 
          lorem commodo lectus at sollicitudin.
        </div>
        <div class="item-contact-expert">
          <img 
          src="http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/testimonial-1.jpg"
           alt="" class="item-contact-img">
           <div class="item-contact-information">
             <div class="item-contact-name">JANE GOLEMAN</div>
             <div class="item-contact-quote">I love discover the world !</div>

           </div>
        </div>

        
      </div>

       <div style="margin-top: 96px; height:auto;" class="main-footer-contact mt-12 ">
          <div class="main-footer-input">
            <div class="main-input-search">
              BOOK THIS TOUR
            </div>
            <div class="main-input-advanced">
              CUSTOMER CARE
            </div>
          </div>

          
            <div class="main-footer-label">
              <div class="main-label-container mt-12 container">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Name">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Surname">
              </div>

                <div class="main-label-container mt-12 container">
                <input style="margin: 20px 0; " type="email" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Email">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Guest">
              </div>

                <div class="main-label-container mt-12 container">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Phone">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Country">
              </div>

              <div class="main-label-container mt-12 container">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="City">
                <input style="margin: 20px 0; " type="text" class="item-form-control mt-6 m-12" id="exampleFormControlInput1" placeholder="Address">
              </div>

                  <textarea class="main-form-textarea" name="" id="" cols="30" rows="10" placeholder="Messages"></textarea>

                  <button type="submit" class="main-footer-btn">SEND NOW</button>

          </div>

    </div>
    <div class="item-head">BEST PROMOTIONS</div>

    <div class="item-sub-promotion">
      <div class="item-promotion-li">
        <div class="item-promotion-container-img">
          <div class="item-promotion-sale">SALE</div>
          <img class="item-promotion-img" src="http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/package-newdelhi-150x150.jpg" alt="">
        </div>
      
        <div class="item-promotion-information">
          <div class="item-promotion-place">New Delhi</div>
          <div class="item-promotion-price">500 $</div>
        </div>
      </div>


          <div class="item-promotion-li">
            <div class="item-promotion-container-img">
              <img class="item-promotion-img" src="http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/package-rome-150x150.jpg" alt="">
            </div>
          
            <div class="item-promotion-information">
              <div class="item-promotion-place">Rome</div>
              <div class="item-promotion-price">1500 $</div>
            </div>
          </div>
        
        </div>
     
      <div class="item-highlight">
        <a href="#" class="item-highlight-link">England</a>
      </div>

   

    </div>

      
  </div>

 
</div>

<div class="item-footer">
  <div class="item-head mt-12 container">
            YOU MAY ALSO LIKE
  </div>

  <div class="item-footer-container  mt-12 container mb-12 js-item-footer">
      <div style="padding: 0 15px; margin: 15px auto;" class="mt-4 body-container-tour mb-12">
           <div style="background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/package-berlin.jpg);" class="body-choice-img">
            <span class="body-choice-price">700 $</span>
      </div>

          <div class="body-choice-destination">
              Berlin
          </div>

          <div style="background-color: #BA71DA;" class="body-choice-feature">
               <a href="./Europe" class="body-choice-continent">Europe</a>
              <a href="./Cultural" class="body-choice-aim">Cultural</a>
          </div>
            <div style="padding: 20px;" class="">
          <div class="body-choice-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eum, magnam perferendis sapiente animi ab, numquam accusamus eos deserunt pariatur repellendus voluptas quisquam, commodi doloremque nihil nulla aliquam facere quos?</div>
          <a href="/search/berlin" class="body-choice-btn">DETAILS</a>

           </div>
      </div>

      <div style="padding: 0 15px; margin: 15px auto;" class="mt-4 body-container-tour mb-12">
           <div style="background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/package-newdelhi.jpg);" class="body-choice-img">
            <span class="body-choice-price">500 $</span>
      </div>

          <div class="body-choice-destination">
              New Delhi
          </div>

          <div style="background-color: #14B9D5;" class="body-choice-feature">
               <a href="./Europe" class="body-choice-continent">Asia</a>
              <a href="./Cultural" class="body-choice-aim">History</a>
          </div>
            <div style="padding: 20px;" class="">
          <div class="body-choice-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</div>
          <a href="/search/new-delhi" class="body-choice-btn">DETAILS</a>

           </div>
      </div>

      <div style="padding: 0 15px; margin: 15px auto;" class="mt-4 body-container-tour mb-12">
           <div style="background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/travel/wp-content/uploads/sites/2/2018/03/package-london.jpg);" class="body-choice-img">
            <span class="body-choice-price">400 $ <span>
      </div>

          <div class="body-choice-destination">
              London
          </div>

          <div style="background-color: #F76570;" class="body-choice-feature">
               <a href="./Europe" class="body-choice-continent">England</a>
              <a href="./Cultural" class="body-choice-aim">Sport</a>
          </div>
            <div style="padding: 20px;" class="">
          <div class="body-choice-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque.</div>
          <a href="/search/london" class="body-choice-btn">DETAILS</a>

           </div>
      </div>
            

             
  </div>  
 </div>




 <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.11.0.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  ></script>


<script>
  
  document.addEventListener('DOMContentLoaded', function() {
      const content = $('.main-content-main')
      const arrow = $('.slick-arrow')
      const nextArrow = $('.slick-next')
      const prevArrow = $('.slick-prev')
      const iconText = $('.js-item-icon')
      const textShow = $('.js-item-text')

      {{!-- icon for slick arrow --}}
     document.querySelector(".slick-next").innerHTML = '<span class ="slick-my-icon"> <i class="ti-angle-right"></i> </span>';
     document.querySelector(".slick-prev").innerHTML = '<span class ="slick-my-icon"> <i class="ti-angle-left"></i> </span>';
      
    iconText.click(function(){
      textShow.slideToggle();
    });

   

  })
</script>