
<div style="background-image: url(/images/parallax-1.jpg); " class="main-content">
        <div class="main-content-container">
          <span class="main-content-text">SEARCH</span>

        </div>
    </div>

    <div class="navbar-opt ">
        <div class="navbar-opt-container container">

            <div class="navbar-option-container">
                <div class="navbar-option-choice">
                    <span class="active navbar-option-content ">
                        PRICE
                        <span class="navbar-option-icon ti-angle-down"></span>
                        <div class="navbar-option-detail">
                            <span class="active-option-detail navbar-detail-text ">LOWEST PRICE</span>
                            <span class="navbar-detail-text">HIGHEST PRICE</span>
                        </div>
                    </span>
                </div>
                <div class="navbar-option-choice">
                    <span class="navbar-option-content">
                        NAME
                        <span class="navbar-option-icon ti-angle-down"></span>
                        <div class="navbar-option-detail">
                            <span class="navbar-detail-text">DESC</span>
                            <span class="navbar-detail-text">ASC</span>
                        </div>
                    </span>
                </div>
            </div>
            

            <div class="navbar-display">
                    <span class="navbar-display-icon ti-list-ol"></span>
                    <span class="navbar-display-icon ti-menu"></span>
            </div>
        </div>
        
    </div>

    <div class="body-content container">
        <div class="body-content-option mt-4 mb-12 m-12">
            <div class="body-content-header">
                <span class="body-content-title ">
                    Select your destination
                </span>

                <div class="body-content-container">
                     <select name="choice-destination" id="destination" class="body-content-box">
                        <option value="" class="body-box-option">All Destination</option>
                        <option value="" class="body-box-option">Europe</option>
                        <option value="" class="body-box-option">ASIA</option>
                        <option value="" class="body-box-option">America</option>
                        <option value="" class="body-box-option">Africa</option>
                        <option value="" class="body-box-option">Oceania</option>
                    </select>
                </div>
                  
                </div>
                <div class="body-content-date">
                  
                    <div class="body-content-title">Select your date :</div>
                      <div class="body-content-container">
                        <select name="" id="" class="body-content-box">
                            <option value="" class="body-box-option">Ngày tháng năm</option>
                            <option value="" class="body-box-option">xx-xx-xxxx</option>
                        </select>

                    </div>
                </div>

                <div class="body-content-typologies">
                    <div class="body-content-title">
                        Typologies :

                    </div>

                    <div class="body-container-typologies">

                        <div class="body-content-form">
                            <input class="body-content-checkbox" type="checkbox" id="check">
                        <label class="body-content-label" for="checkbox-all">
                                Relax
                            </label>
                        </div>

                        <div class="body-content-form">
                            <input class="body-content-checkbox" type="checkbox" id="check">
                        <label class="body-content-label" for="checkbox-all">
                                Cultural
                            </label>
                        </div>

                        <div class="body-content-form">
                            <input class="body-content-checkbox" type="checkbox" id="check">
                        <label class="body-content-label" for="checkbox-all">
                                Sport
                            </label>
                        </div>

                        <div class="body-content-form">
                            <input class="body-content-checkbox" type="checkbox" id="check">
                        <label class="body-content-label" for="checkbox-all">
                                History
                            </label>
                        </div>
                    </div>

               </div>
            <div class="body-range-container">
                <label for="customRange1" class="body-range-label"> Max Price : <span class="js-price">5000$</span></label>
                <input type="range" class="body-content-range" id="customRange1" min="0" max="10000" value="5000">
            </div>
               

            <div class="body-content-choice">
                 <div class="body-content-title">
                     Durations :
                    <span class="body-title-icon ti-angle-down js-btn-choice"></span>
                 </div>

                 <div class="disable body-option-container js-option-container">
                        <div class="body-choice-option">
                            <div class="body-choice-form">
                                    <input class="body-content-checkbox" type="checkbox" id="check">
                                    <label class="body-content-label" for="checkbox-all">
                                        1 - 3 Days
                                    </label>
                            </div>

                            <div class="body-choice-form">
                                    <input class="body-content-checkbox" type="checkbox" id="check">
                                    <label class="body-content-label" for="checkbox-all">
                                        3 - 6 Days
                                    </label>
                            </div>

                            <div class="body-choice-form">
                                    <input class="body-content-checkbox" type="checkbox" id="check">
                                    <label class="body-content-label" for="checkbox-all">
                                        6 - 9 Days
                                    </label>
                            </div>

                            <div class="body-choice-form">
                                    <input class="body-content-checkbox" type="checkbox" id="check">
                                    <label class="body-content-label" for="checkbox-all">
                                        9 - 12 Days
                                    </label>
                            </div>
                        </div>
                    
                     </div>
                 </span>
            </div>

             <div class="body-content-choice">
                 <div class="body-content-title">
                     Difficulty :
                     <span class="body-title-icon ti-angle-down js-btn-choice"></span>
                 </div>

                        <div class="disable body-option-container js-option-container">
                             <div class="body-choice-option">
                                <div class="body-choice-form">
                                        <input class="body-content-checkbox" type="checkbox" id="check">
                                        <label class="body-content-label" for="checkbox-all">
                                        High
                                        </label>
                                </div>

                          <div class="body-choice-form">
                                <input class="body-content-checkbox" type="checkbox" id="check">
                                 <label class="body-content-label" for="checkbox-all">
                                      Low
                                </label>
                          </div>

                          <div class="body-choice-form">
                                <input class="body-content-checkbox" type="checkbox" id="check">
                                 <label class="body-content-label" for="checkbox-all">
                                   Medium
                                </label>
                          </div> 
                     </div>
                 </span>
            </div>

             <div class="body-content-choice">
                 <div class="body-content-title">
                     Min Age :
                     <span class="body-title-icon ti-angle-down js-btn-choice"></span>
                 </div>
                        <div class="disable body-option-container js-option-container">
                            <div class="body-choice-option">
                                    <div class="body-choice-form">
                                            <input class="body-content-checkbox" type="checkbox" id="check">
                                            <label class="body-content-label" for="checkbox-all">
                                                10 Years
                                            </label>
                                    </div>

                                    <div class="body-choice-form">
                                            <input class="body-content-checkbox" type="checkbox" id="check">
                                            <label class="body-content-label" for="checkbox-all">
                                            18 years
                                            </label>
                                    </div>

                                    <div class="body-choice-form">
                                            <input class="body-content-checkbox" type="checkbox" id="check">
                                            <label class="body-content-label" for="checkbox-all">
                                                3 Years
                                            </label>
                                    </div>
                                </div>
                        </div>
                            
                  
                     </div>
                 </span>
            </div>
        </div>
        <div class="body-container-choice mt-8 container mb-12 m-10">
        {{#each packages }}
            <div class="mt-6 body-container-tour mb-12 m-10">
                <a href="/search/{{this.slug}}">
                <div style="background-image: url({{image}});" class="body-choice-img">
                    <span class="body-choice-price">{{price}}$</span>
                </div>
                
                </a>

                <div class="body-choice-destination">
                    {{destination}}
                </div>

                <div style="background-color: #{{color}};" class="body-choice-feature">
                    <a href="./Europe" class="body-choice-continent">{{continent}}</a>
                    <a href="./Cultural" class="body-choice-aim">{{aim}}</a>
                </div>
                <div style="padding: 20px;" class="">
                <div class="body-choice-content">{{comment}}</div>
                <a href="/search/{{this.slug}}" class="body-choice-btn">DETAILS</a>

                </div>
            </div>
            
            {{/each}}

             
        </div>
    </div>
        
    
</div>
 <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.11.0.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  ></script>

  <script>
      const range = document.querySelector('.body-content-range')
      const output = document.querySelector('.js-price')
      range.oninput = function() {
        output.innerHTML = this.value + '$';
    }
  </script>
